/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.navbar{

    height: 100px;
    background-color:darkseagreen ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
    
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-link a{
  text-decoration: none;
  margin-left: 10%;
}
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }
 /* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 2%;
    padding-right: 3%;
  }
  
  .menu { 
   display:none;
   position: absolute;
   background-color : darkseagreen;
   right: 0;
   left: 0;
   text-align: center;
   

  }
  .menu a{
    display: block;
    transition: 0.3s ease;
    margin-top: 4%;
    margin-bottom: 4%;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
}